{
  "openapi": "3.0.1",
  "info": {
    "title": "ProjectSight",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://global.api.trimble.com/projectsight/v1",
      "description": "Global"
    }
  ],
  "paths": {
    "/accounts": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get Accounts",
        "description": "Returns the list of Accounts that the caller may use to create new Portfolios",
        "operationId": "Account_GetAccounts",
        "responses": {
          "200": {
            "description": "Returns the current user's list of Account information.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Account"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Account"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "403": {
            "description": "Server refuses to fulfill the request. Please check the error message for more details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error. Please contact your administrator for more details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/portfolios": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get Portfolios for the specific account",
        "description": "Returns the complete list of user accessible Portfolios that are associated with the specified Account",
        "operationId": "Account_GetPortfoliosForAccount",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The primary key of the ProjectSight account record that information is to be returned for",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "includeDisabled",
            "in": "query",
            "description": "When true, Portfolios that have been disabled will be returned. These can be identified using the Disabled property",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includeOffline",
            "in": "query",
            "description": "When true, Portfolios that are currently offline for maintenance will be returned. These can be identified using the IsOnline property",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the current user's list of Portfolio within the Account.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Portfolio"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Portfolio"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "403": {
            "description": "Server refuses to fulfill the request. Please check the error message for more details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error. Please contact your administrator for more details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        }
      }
    },
    "/{portfolioGuid}/{projectId}/actionitems/{actionItemId}": {
      "get": {
        "tags": [
          "ActionItem"
        ],
        "summary": "Get Individual ActionItem Record",
        "description": "Returns the specified Action Item that the user has access to within the specified portfolio and project.",
        "operationId": "ActionItem_GetByID",
        "parameters": [
          {
            "name": "portfolioGuid",
            "in": "path",
            "description": "Portfolio GUID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "actionItemId",
            "in": "path",
            "description": "ActionItem ID",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized Access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "403": {
            "description": "The Server cannot fulfill the request. Please check the error message for more details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error. Please contact your administrator for more details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "200": {
            "description": "Returns the requested user accessible Action Item within the specified Portfolio and Project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionItem"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionItem"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ActionItem"
        ],
        "summary": "Delete Individual Action Item Record",
        "description": "Returns the result of deletion",
        "operationId": "ActionItem_Delete",
        "parameters": [
          {
            "name": "portfolioGuid",
            "in": "path",
            "description": "Portfolio GUID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "actionItemId",
            "in": "path",
            "description": "ActionItem ID",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an empty response as the requested ActionItem is deleted."
          },
          "401": {
            "description": "Unauthorized Access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "403": {
            "description": "The Server cannot fulfill the request. Please check the error message for more details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error. Please contact your administrator for more details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        }
      }
    },
    "/{portfolioGuid}/{projectId}/actionitems": {
      "post": {
        "tags": [
          "ActionItem"
        ],
        "summary": "Creates/Updates Individual ActionItem",
        "description": "Returns the created/updated Action Item given by the user",
        "operationId": "ActionItem_Post",
        "parameters": [
          {
            "name": "portfolioGuid",
            "in": "path",
            "description": "Portfolio GUID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Record",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ActionItem"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActionItem"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ActionItem"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ActionItem"
              }
            }
          }
        },
        "responses": {
          "401": {
            "description": "Unauthorized Access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "403": {
            "description": "The server cannot fulfill the request. Please check the error message for more details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error. Please contact your administrator for more details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "200": {
            "description": "Returns the created/updated user accessible ActionItem within the specified Portfolio and Project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionItem"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionItem"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "ActionItem"
        ],
        "summary": "Get Collection of ActionItem Records, including all children.",
        "description": "Returns the list of user accessible Action Item records for the given offset and limit.\r\nExample: If offset = 0 and limit = 4, then this action returns the first four records.\r\nThis endpoint can return a large amount of data and should be used sparingly.",
        "operationId": "ActionItem_List",
        "parameters": [
          {
            "name": "portfolioGuid",
            "in": "path",
            "description": "Portfolio GUID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of records to skip from the beginning",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records to retrieve",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized Access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "403": {
            "description": "The Server cannot fulfill the request. Please check the error message for more details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error. Please contact your administrator for more details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "200": {
            "description": "Returns the list of user accessible ActionItem information for the given offset and limit.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ActionItem"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ActionItem"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{portfolioGuid}/actionitems/query": {
      "post": {
        "tags": [
          "ActionItem"
        ],
        "summary": "Get Collection of ActionItem Records, including all children, based on a query request",
        "description": "Returns the list of user accessible Action Item records for the given query.\r\nThis endpoint can return a large amount of data and should be used sparingly.",
        "operationId": "ActionItem_ListWithQuery",
        "parameters": [
          {
            "name": "portfolioGuid",
            "in": "path",
            "description": "Portfolio GUID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The query request",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequest"
              }
            }
          }
        },
        "responses": {
          "401": {
            "description": "Unauthorized Access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "403": {
            "description": "The Server cannot fulfill the request. Please check the error message for more details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error. Please contact your administrator for more details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "200": {
            "description": "Returns the list of user accessible ActionItem records for the given query.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ActionItem"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ActionItem"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{portfolioGuid}/{projectId}/actionitems/list": {
      "get": {
        "tags": [
          "ActionItem"
        ],
        "summary": "Get Collection of ActionItem Records, not including their children.",
        "description": "Returns the list of user accessible Action Item records for the given offset and limit.\r\nExample: If offset = 0 and limit = 4, then this action returns the first four records.\r\nThis is the preferred endpoint for retrieving lists of records",
        "operationId": "ActionItem_ListOnly",
        "parameters": [
          {
            "name": "portfolioGuid",
            "in": "path",
            "description": "Portfolio GUID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of records to skip from the beginning",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records to retrieve",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized Access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "403": {
            "description": "The Server cannot fulfill the request. Please check the error message for more details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error. Please contact your administrator for more details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "200": {
            "description": "Returns the list of user accessible ActionItem records for the given offset and limit.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ActionItem"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ActionItem"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{portfolioGuid}/actionitems/list": {
      "post": {
        "tags": [
          "ActionItem"
        ],
        "summary": "Get Collection of ActionItem Records based on a query request which can optionally specify which children to retrieve",
        "description": "Returns the list of user accessible Action Item records for the given query.\r\nThis is the preferred endpoint for retrieving lists of records",
        "operationId": "ActionItem_ListOnlyWithQuery",
        "parameters": [
          {
            "name": "portfolioGuid",
            "in": "path",
            "description": "Portfolio GUID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The query request",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequest"
              }
            }
          }
        },
        "responses": {
          "401": {
            "description": "Unauthorized Access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "403": {
            "description": "The Server cannot fulfill the request. Please check the error message for more details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error. Please contact your administrator for more details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "200": {
            "description": "Returns the list of user accessible Action Item records for the given query.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ActionItem"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ActionItem"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{portfolioGuid}/{projectId}/actionitems/workflowstates": {
      "get": {
        "tags": [
          "ActionItem"
        ],
        "summary": "Get WorkflowStates to be used in ActionItems",
        "description": "Returns the list of Workflow Statuses for Action Items within the specified Portfolio and Project.",
        "operationId": "ActionItem_GetWorkflowStates",
        "parameters": [
          {
            "name": "portfolioGuid",
            "in": "path",
            "description": "Portfolio GUID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "dtLastSyncDateTime",
            "in": "query",
            "description": "Last Sync DateTime - optional",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the WorkflowStates within the specified Portfolio and Project.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WorkflowState"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WorkflowState"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "403": {
            "description": "Server refuses to fulfill the request. Please check the error message for more details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error. Please contact your administrator for more details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        }
      }
    },
    "/{portfolioGuid}/actionitems/reports": {
      "get": {
        "tags": [
          "ActionItem"
        ],
        "summary": "Get the list of all available Reports for ActionItems",
        "description": "Returns the list of user accessible Reports for Action Items",
        "operationId": "ActionItem_Reports",
        "parameters": [
          {
            "name": "portfolioGuid",
            "in": "path",
            "description": "Portfolio GUID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the list of user accessible Reports.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Report"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Report"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "403": {
            "description": "Server refuses to fulfill the request. Please check the error message for more details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error. Please contact your administrator for more details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        }
      }
    },
    "/{portfolioGuid}/actionitems/udfs": {
      "get": {
        "tags": [
          "ActionItem"
        ],
        "summary": "Get list of all available UDFs for ActionItems",
        "description": "Returns the list of UDFs for Action Items",
        "operationId": "ActionItem_UDFs",
        "parameters": [
          {
            "name": "portfolioGuid",
            "in": "path",
            "description": "Portfolio GUID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the list of UDFs.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UDF"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UDF"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "403": {
            "description": "Server refuses to fulfill the request. Please check the error message for more details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error. Please contact your administrator for more details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        }
      }
    },
    "/{portfolioGuid}/{projectId}/applicationsForPayment/{applicationForPayId}": {
      "get": {
        "tags": [
          "ApplicationForPayment"
        ],
        "summary": "Get Individual ApplicationForPayment Record",
        "description": "Returns the requested Application For Payment that the user has access to within the specified portfolio and project.",
        "operationId": "ApplicationForPayment_GetByID",
        "parameters": [
          {
            "name": "portfolioGuid",
            "in": "path",
            "description": "Portfolio GUID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "applicationForPayId",
            "in": "path",
            "description": "ApplicationForPayment ID",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the requested Application For Payment that the user has access to within the specified portfolio and project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationForPayment"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationForPayment"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "403": {
            "description": "Server refuses to fulfill the request. Please check the error message for more details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error. Please contact your administrator for more details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ApplicationForPayment"
        ],
        "summary": "Delete Individual ApplicationForPayment Record",
        "description": "Returns the result of deletion",
        "operationId": "ApplicationForPayment_Delete",
        "parameters": [
          {
            "name": "portfolioGuid",
            "in": "path",
            "description": "Portfolio GUID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "applicationForPayId",
            "in": "path",
            "description": "ApplicationForPayment ID",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an empty response as the requested ApplicationForPayment is deleted."
          },
          "401": {
            "description": "Unauthorized Access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "403": {
            "description": "Server refuses to fulfill the request. Please check the error message for more details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error. Please contact your administrator for more details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        }
      }
    },
    "/{portfolioGuid}/{projectId}/applicationsForPayment": {
      "get": {
        "tags": [
          "ApplicationForPayment"
        ],
        "summary": "Get Collection of ApplicationForPayment records, including all children.",
        "description": "Returns the list of user accessible Application For Payment records for the given offset and limit.\r\nExample: If offset = 0 and limit = 4, then this action returns the first four records.\r\nThis endpoint can return a large amount of data and should be used sparingly.",
        "operationId": "ApplicationForPayment_List",
        "parameters": [
          {
            "name": "portfolioGuid",
            "in": "path",
            "description": "Portfolio GUID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of records to be skipped from the beginning",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records to retrieve",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the list of user accessible ApplicationForPayment records for the given offset and limit.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApplicationForPayment"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApplicationForPayment"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "403": {
            "description": "Server refuses to fulfill the request. Please check the error message for more details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error. Please contact your administrator for more details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "ApplicationForPayment"
        ],
        "summary": "Creates/Updates Individual ApplicationForPayment",
        "description": "Returns the created/updated Application For Payment record that the user has access to within the specified portfolio and project.",
        "operationId": "ApplicationForPayment_Post",
        "parameters": [
          {
            "name": "portfolioGuid",
            "in": "path",
            "description": "Portfolio GUID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Record",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationForPayment"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationForPayment"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationForPayment"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationForPayment"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the created/updated Application For Payment records that the user has access to within the specified portfolio and project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationForPayment"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationForPayment"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "403": {
            "description": "Server refuses to fulfill the request. Please check the error message for more details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error. Please contact your administrator for more details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        }
      }
    },
    "/{portfolioGuid}/applicationsForPayment/query": {
      "post": {
        "tags": [
          "ApplicationForPayment"
        ],
        "summary": "Get Collection of ApplicationForPayment, including all children, based on a query request.",
        "description": "Returns the list of user accessible Application For Payment records for the given query.\r\nThis endpoint can return a large amount of data and should be used sparingly.",
        "operationId": "ApplicationForPayment_ListWithQuery",
        "parameters": [
          {
            "name": "portfolioGuid",
            "in": "path",
            "description": "Portfolio GUID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The query request",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the list of user accessible ApplicationForPayment records for the given query.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApplicationForPayment"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApplicationForPayment"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "403": {
            "description": "Server refuses to fulfill the request. Please check the error message for more details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error. Please contact your administrator for more details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        }
      }
    },
    "/{portfolioGuid}/{projectId}/applicationsForPayment/list": {
      "get": {
        "tags": [
          "ApplicationForPayment"
        ],
        "summary": "Get Collection of ApplicationForPayment records, not including their children.",
        "description": "Returns the list of user accessible Application For Payment records for the given offset and limit.\r\nExample: If offset = 0 and limit = 4, then this action returns the first four records.\r\nThis is the preferred endpoint for retrieving lists of records",
        "operationId": "ApplicationForPayment_ListOnly",
        "parameters": [
          {
            "name": "portfolioGuid",
            "in": "path",
            "description": "Portfolio GUID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of records to be skipped from the beginning",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records to retrieve",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the list of user accessible ApplicationForPayment records for the given offset and limit.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApplicationForPayment"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApplicationForPayment"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "403": {
            "description": "Server refuses to fulfill the request. Please check the error message for more details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error. Please contact your administrator for more details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        }
      }
    },
    "/{portfolioGuid}/applicationsForPayment/list": {
      "post": {
        "tags": [
          "ApplicationForPayment"
        ],
        "summary": "Get Collection of ApplicationForPayment records based on a query request which can optionally specify which children to retrieve",
        "description": "Returns the list of user accessible ApplicationForPayment records for the given query.\r\nThis is the preferred endpoint for retrieving lists of records",
        "operationId": "ApplicationForPayment_ListOnlyWithQuery",
        "parameters": [
          {
            "name": "portfolioGuid",
            "in": "path",
            "description": "Portfolio GUID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The query request",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the list of user accessible ApplicationForPayment records for the given query.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApplicationForPayment"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApplicationForPayment"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "403": {
            "description": "Server refuses to fulfill the request. Please check the error message for more details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error. Please contact your administrator for more details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        }
      }
    },
    "/{portfolioGuid}/{projectId}/applicationsForPayment/{applicationForPayId}/primecontractcos": {
      "post": {
        "tags": [
          "ApplicationForPayment"
        ],
        "summary": "Adds a list of PrimeContractCOs to a specific ApplicationForPayment",
        "description": "Adds a list of Prime Contract Change Orders to a specific Application For Payment and returns the updated Application For Payment record.",
        "operationId": "ApplicationForPayment_AddPrimeContractCOs",
        "parameters": [
          {
            "name": "portfolioGuid",
            "in": "path",
            "description": "Portfolio GUID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "applicationForPayId",
            "in": "path",
            "description": "ApplicationForPayment ID",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "The list of PrimeContractCO ChangeOrderIDs to add to the Application For Payment",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the created/updated Application For Payment records that the user has access to within the specified portfolio and project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationForPayment"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationForPayment"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "403": {
            "description": "Server refuses to fulfill the request. Please check the error message for more details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error. Please contact your administrator for more details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        }
      }
    },
    "/{portfolioGuid}/{projectId}/applicationsForPayment/createItemsFromContract": {
      "get": {
        "tags": [
          "ApplicationForPayment"
        ],
        "summary": "Creates a list of ApplicationForPaymentItems from the specified Contract",
        "description": "Returns a collection of Application For Payment Items from the Contract that can be added to an Application For Payment.",
        "operationId": "ApplicationForPayment_CreateApplicationForPayItemsFromContract",
        "parameters": [
          {
            "name": "portfolioGuid",
            "in": "path",
            "description": "Portfolio GUID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "contractId",
            "in": "query",
            "description": "Contract ID",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a collection of ApplicationForPaymentItems from the contract that can be added to an ApplicationForPayment.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApplicationForPayment"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApplicationForPayment"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "403": {
            "description": "Server refuses to fulfill the request. Please check the error message for more details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error. Please contact your administrator for more details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        }
      }
    },
    "/{portfolioGuid}/{projectId}/applicationsForPayment/workflowstates": {
      "get": {
        "tags": [
          "ApplicationForPayment"
        ],
        "summary": "Get WorkflowStates for ApplicationForPayment Record",
        "description": "Returns the list of Workflow Statuses for Application For Payment within the specified Portfolio and Project.",
        "operationId": "ApplicationForPayment_GetWorkflowStates",
        "parameters": [
          {
            "name": "portfolioGuid",
            "in": "path",
            "description": "Portfolio GUID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "dtLastSyncDateTime",
            "in": "query",
            "description": "Last Sync DateTime",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the WorkflowStates within the specified Portfolio and Project.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WorkflowState"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WorkflowState"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "403": {
            "description": "Server refuses to fulfill the request. Please check the error message for more details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error. Please contact your administrator for more details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        }
      }
    },
    "/{portfolioGuid}/applicationsForPayment/reports": {
      "get": {
        "tags": [
          "ApplicationForPayment"
        ],
        "summary": "Get list of all available Reports for ApplicationForPayment",
        "description": "Returns the list of user accessible Reports for Application For Payment",
        "operationId": "ApplicationForPayment_Reports",
        "parameters": [
          {
            "name": "portfolioGuid",
            "in": "path",
            "description": "Portfolio GUID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the list of user accessible Reports.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Report"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Report"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "403": {
            "description": "Server refuses to fulfill the request. Please check the error message for more details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error. Please contact your administrator for more details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        }
      }
    },
    "/{portfolioGuid}/applicationsForPayment/udfs": {
      "get": {
        "tags": [
          "ApplicationForPayment"
        ],
        "summary": "Get list of all available UDFs for ApplicationForPayment",
        "description": "Returns the list of UDFs for Application For Payment",
        "operationId": "ApplicationForPayment_UDFs",
        "parameters": [
          {
            "name": "portfolioGuid",
            "in": "path",
            "description": "Portfolio GUID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the list of UDFs.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UDF"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UDF"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "403": {
            "description": "Server refuses to fulfill the request. Please check the error message for more details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error. Please contact your administrator for more details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        }
      }
    },
    "/{portfolioGuid}/{projectId}/budgets/{budgetId}": {
      "get": {
        "tags": [
          "Budget"
        ],
        "summary": "Get Individual Budget Record",
        "description": "Returns the requested Budget that the user has access to within the specified portfolio and project.",
        "operationId": "Budget_GetByID",
        "parameters": [
          {
            "name": "portfolioGuid",
            "in": "path",
            "description": "Portfolio GUID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "budgetId",
            "in": "path",
            "description": "Budget ID",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the requested Budget that the user has access to within the specified portfolio and project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Budget"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Budget"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "403": {
            "description": "Server refuses to fulfill the request. Please check the error message for more details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error. Please contact your administrator for more details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Budget"
        ],
        "summary": "Delete Individual Budget Record",
        "description": "Returns the result of deletion",
        "operationId": "Budget_Delete",
        "parameters": [
          {
            "name": "portfolioGuid",
            "in": "path",
            "description": "Portfolio GUID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "budgetId",
            "in": "path",
            "description": "Budget ID",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an empty response as the requested Budget is deleted."
          },
          "401": {
            "description": "Unauthorized Access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "403": {
            "description": "Server refuses to fulfill the request. Please check the error message for more details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error. Please contact your administrator for more details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        }
      }
    },
    "/{portfolioGuid}/{projectId}/budgets": {
      "get": {
        "tags": [
          "Budget"
        ],
        "summary": "Get Collection of Budget records, including all children.",
        "description": "Returns the list of user accessible budget information for the given offset and limit.\r\nExample: If offset = 0 and limit = 4, then this action returns the first four records.\r\nThis endpoint can return a large amount of data and should be used sparingly.",
        "operationId": "Budget_List",
        "parameters": [
          {
            "name": "portfolioGuid",
            "in": "path",
            "description": "Portfolio GUID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of records to be skipped from the beginning",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records to retrieve",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the list of user accessible Budget information for the given offset and limit.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Budget"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Budget"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "403": {
            "description": "Server refuses to fulfill the request. Please check the error message for more details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error. Please contact your administrator for more details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Budget"
        ],
        "summary": "Creates/Updates Individual Budget",
        "description": "Returns the created/updated Budget information that the user has access to within the specified portfolio and project.",
        "operationId": "Budget_Post",
        "parameters": [
          {
            "name": "portfolioGuid",
            "in": "path",
            "description": "Portfolio GUID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Record",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Budget"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Budget"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Budget"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Budget"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the created/updated Budget information that the user has access to within the specified portfolio and project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Budget"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Budget"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "403": {
            "description": "Server refuses to fulfill the request. Please check the error message for more details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error. Please contact your administrator for more details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        }
      }
    },
    "/{portfolioGuid}/budgets/query": {
      "post": {
        "tags": [
          "Budget"
        ],
        "summary": "Get Collection of Budget records (including all children) based on a query request.",
        "description": "Returns the list of user accessible budget information for the given query.\r\nThis endpoint can return a large amount of data and should be used sparingly.",
        "operationId": "Budget_ListWithQuery",
        "parameters": [
          {
            "name": "portfolioGuid",
            "in": "path",
            "description": "Portfolio GUID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The query request",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the list of user accessible Budget information for the given query.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Budget"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Budget"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "403": {
            "description": "Server refuses to fulfill the request. Please check the error message for more details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error. Please contact your administrator for more details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        }
      }
    },
    "/{portfolioGuid}/{projectId}/budgets/list": {
      "get": {
        "tags": [
          "Budget"
        ],
        "summary": "Get Collection of Budget records, not including their children.",
        "description": "Returns the list of user accessible budget information for the given offset and limit.\r\nExample: If offset = 0 and limit = 4, then this action returns the first four records.\r\nThis is the preferred endpoint for retrieving lists of records",
        "operationId": "Budget_ListOnly",
        "parameters": [
          {
            "name": "portfolioGuid",
            "in": "path",
            "description": "Portfolio GUID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of records to be skipped from the beginning",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records to retrieve",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the list of user accessible Budget information for the given offset and limit.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Budget"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Budget"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Access",
[...]
